.about-container {
  padding: 0 50px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  height: 100vh;
  place-content: center;
}

.about p {
  text-align: justify;
}

.about-image {
  max-width: 100%;
}

.download {
  text-decoration: none;
  color: #000 !important;
  background-color: white;
  padding: 8px 12px;
  border-radius: 8px;
}

.download:active {
  text-decoration: none;
  color: #000 !important;
  background-color: #d6d310;
  padding: 8px 12px;
  border-radius: 8px;
}

.counter-container {
  display: flex;
  margin-bottom: 120px;
  padding: 20px;
  background-color: #1a1a1a;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.follow-me {
  text-align: center;
  margin: 70px 0;
}

.follow-links a {
  font-size: 2rem;
  margin-left: 10px;
  color: #03a9f4;
}

.follow-links a:hover {
  margin-left: 10px;
  color: white !important;
}

@media screen and (max-width: 768px) {
  .about-container {
    padding: 0 20px;
  }

  .about {
    display: block;
    gap: 60px;
    height: 100%;
    margin: 40px 0;
  }

  .about p {
    text-align: justify;
    margin-top: 20px;
  }

  .download {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 20px auto;
  }

  .counter-container {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #1a1a1a;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-size: 0.8rem;
  }

  #experienceCounter,
  #githubStarsCounter,
  #feedbackCounter,
  #projectsCounter {
    font-size: 1.2rem;
  }
}
