.contact-div {
  display: grid;
  height: 90vh;
  place-content: center;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.form {
  background-color: #282828;
  padding: 20px;
  border-radius: 12px;
}

.input {
  width: 100% !important;
  background: none;
  border: none;
  margin-top: 20px;
  color: #fff;
  border-bottom: 0.5px solid #b5e8ff;
}

.input:focus {
  outline: 0;
}

.input:hover::placeholder {
  color: #03a9f4;
}

.form-btn {
  margin-top: 30px !important;
}

.contact-details ul li {
  list-style: none;
  margin-top: 20px;
}

.cont-icon {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .contact-div {
    display: grid;
    margin-top: 70px;
    height: 100%;
    padding: 16px;
  }

  .contact {
    display: block;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    text-align: center;
  }

  .form {
    background-color: #282828;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
  }

  .contact-details ul li {
    text-align: justify;
  }
}
