.header {
  position: fixed !important;
  background-color: #161616 !important;
  border: none !important;
  color: #f4f4f4 !important;
  box-shadow: 0 0 40px #0008 !important;
  padding: 20px 35px !important;
  width: 100% !important;
  margin-bottom: 30px;
  z-index: 1;
}

.pages a {
  margin-right: 20px !important;
  text-decoration: none !important;
  color: #f4f4f4 !important;
}

.logo a {
  color: #f4f4f4;
  text-decoration: none;
}

.pages a:hover {
  text-decoration: none !important;
  color: #07a8da !important;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  display: flex;
  gap: 10px;
}

.logo a:hover {
  color: #f4f4f4;
}

.header-logo {
  width: 30px;
  margin-right: 10px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #07a8da);
}

.button {
  border: none !important;
  background-color: #bf4e2c !important;
  padding: 6px 10px !important;
  border-radius: 7px !important;
  font-weight: 600;
}

.button:hover {
  border: none !important;
  background-color: #fff4f0 !important;
  padding: 6px 10px !important;
  border-radius: 7px !important;
  font-weight: 600;
  color: #bf4e2c;
  transition: all 0.5s ease-in-out;
}

.footer {
  display: flex;
  background-color: #161616 !important;
  justify-content: center !important;
  gap: 20px;
  border: none !important;
  align-items: center;
  color: #fff !important;
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
}
