.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin: auto !important;
  gap: 10px;
  place-items: center !important;
}

.project-container {
  text-align: center;
}

.project-container h2 {
  text-align: center;
  margin: 70px auto 50px auto;
}

.project-card {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 30px 10px;
}

.project-card h4 {
  margin: 20px 0;
}

.project-card:hover {
  box-shadow: 0 0 18px #00000098;
}

.project-card img {
  width: 300px;
  height: 142px;
  filter: brightness(40%);
}

.project-card img:hover {
  filter: brightness(100%);
  transition: all 0.3s ease-in;
}

.tech {
  display: flex;
  justify-content: space-evenly;
}

.tech p {
  background-color: #282828;
  color: rgba(0, 195, 255, 0.829);
  border: 1px solid rgba(0, 195, 255, 0.829);
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 12px;
  margin-bottom: 40px;
}

.view {
  background-color: #161616;
  color: rgba(0, 195, 255, 0.93) !important;
  padding: 4px 25px 10px 25px;
  margin-right: 10px;
  font-size: 1.25rem;
  border-radius: 4px;
}

.view:hover {
  background-color: rgba(0, 195, 255, 0.93) !important;
  color: #161616 !important;
}

@media screen and (max-width: 768px) {
  .card-container {
    display: block;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    margin: auto !important;
    gap: 50px;
    place-items: center !important;
  }

  .project-card img {
    width: 260px;
    height: 142px;
    filter: brightness(40%);
  }

  .project-card {
    margin-bottom: 20px;
  }
}
