.skill-container {
  width: 70%;
  margin: 50px auto !important;
  color: rgba(0, 195, 255, 0.829);
}

.skill-container h2 {
  text-align: center;
  margin-bottom: 35px;
}

.skill-cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  padding: 15px 5px!important;
  border-radius: 8px;
  display: flex!important;
  text-align: center!important;
  align-items: center!important;
  font-size: 2.3rem!important;
  gap: 20px;
  background-color: #282828 !important;
  border: none!important;
}

.card p {
  font-size: 1.0rem;
}
